/* BrandNav CSS - PageLines 2011 */
#brandnav {
	padding-bottom: 30px;
	}

#brandnav .content-pad{
	padding-top: 1em;
	padding-bottom: 1em;
}

#brandnav .mainlogo-link, #brandnav .title-container{
    float: left;
    line-height: 0.7em;
	padding: 0 1%;
}
#brandnav .mainlogo-link img{
	max-width: 100%;
}

#brandnav .brandnav-nav {
    float: right;
    margin: 3em 0 0 0;
    font-size: 18px;
    
}
	
#brandnav li a, #brandnav .nav-special {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;

}

#brandnav .brandnav-nav .icons {
	margin-right: 25px;
	float: right;
}

.icons {
 	position: absolute;
 	right: 0;
 	line-height: 20px;
 	height: 50px;
 	top: 110px;
}
.icons a {
	margin: 15px 0 0 20px;
	opacity: 0.5;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	
}

.icons a:hover{
	opacity: 1.0;
}

/* Responsive Layout */

@media screen and (max-width: 767px){
	#brandnav .brandnav-nav{float: left;}
	#brandnav .brandnav-nav .icons {float: left;}
	.icons {position: relative; top: 0;}
}	


@media screen and (max-width:480px) {
	#brandnav .brandnav-nav .icons {float: left; }
}	


