
/*Navbar styling */

.pl-color-blue {
	background: #8884e0;
	}
	
.navbar .navline > li > a {
color: rgba(255,255,255,1.0) !important;
}

.navbar .navline > li > a:hover, .navbar li.current-menu-item > a {
color: rgba(255,255,255,0.6) !important;
}	

a.cart-contents {
	display: inline-block;
	margin-top: 10px;
}

icon-shopping-cart .icon-white i {
	display: inline-block;
}

/* BrandNav styling */

.main_nav ul {
	padding: 5px;
	border: 1px solid;
	background: #8884e0;
	border-radius: 5px;
	}
	
.widget-title {
	font-size: 18px;
}	

/*div.product .woocommerce_tabs, #content div.product .woocommerce_tabs {
display: none;
} */

.hentry, .clip_box {
margin-bottom: 0;
}

.ba-column {
display: inline;
float: left;
position: relative;
margin: 0 4% 0 0;
}

.hentry-pad {
padding: 0;
}

/*Woo Commerce Button */

a.button.alt, button.button.alt, input.button.alt, #respond input#submit.alt, #content input.button.alt {
border-color: #5551cf;
color: #ffffff;
background: #a3a1e5;
background: -webkit-gradient(linear,left top,left bottom,from(#a3a1e5),to(#7c79da));
background: -webkit-linear-gradient(#a3a1e5,#7c79da);
background: -moz-linear-gradient(center top,#a3a1e5 0%,#7c79da 100%);
background: -moz-gradient(center top,#a3a1e5 0%,#7c79da 100%);
text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

div.product span.price, div.product p.price, #content div.product span.price, #content div.product p.price {
	margin: 0;
	}